
body {
    font: 18px Verdana;
    color: #FFF;
    background: url(bcg.png);
    background-size: 100%;
}

#board {
    margin: 5% auto;
    width: 640px;
}

#box div {
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
    background: url(none.jpg);
}

#box div img {
    display: none;
    border-radius: 10px;
}