.list {
    width: 200px;
    height: 300px;
    border: groove;
    float: left;
    margin: 0 5px 0 0;
    padding: 10px;
    overflow: auto;
}

#map {
    width: 700px;
    height: 500px;
    border: 1px solid black;
}

.entry {
    margin: 3px 0 3px 0;
    padding: 10px 0 10px 0;
    text-align: center;
    background: #e2e2e2;
}